<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e5671cb7-d002-4dc9-a4b8-56c49da7a7f1/resourcegroups/ESA/providers/Microsoft.Web/sites/DemoRates</ResourceId>
    <ResourceGroup>ESA</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demorates.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>demorates.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DemoRates</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DemoRates</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="InterestRatesContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:test-esa.database.windows.net,1433;Initial Catalog=InterestRatesDemo;User ID=newuser@test-esa;Password=Laikinas123" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Data.Context.DataContext, Data" MigrationConfiguration="Data.Migrations.Configuration, Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="InterestRatesContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:test-esa.database.windows.net,1433;Initial Catalog=InterestRatesDemo;User ID=newuser@test-esa;Password=Laikinas123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>